
.repo-search-page-container {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #E91E63;
  color: #FFFFFF;
  display: flex;
  align-items: center; 
  
}
.repo-search-page-content {
  margin: auto;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.repo-search-bar {
  padding: 0.5em;
  
  height: 2em;
  background-color: #FFFFFF;
  display: flex;
  align-items: center; 
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(136, 14, 79, 0.5), 0 6px 20px rgba(136, 14, 79, 0.5);
}
.repo-search-bar form {
  flex: 1;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.repo-search-bar input{
  border: none;
  font-family: inherit;
  font-size: 1.125em;
  margin: auto;
  width:100%;
  
}
::placeholder {
  opacity: 0.5;
  font-family: inherit;
  font-weight: lighter;
}
.search-icon {
  height: 1.25em;
  flex-basis: 1.25em;
  padding: 0.5em;
  opacity: 0.25;
}

.issue-display-page-container {
  text-align: left;
  
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.issues-page-header {
  background-color: #E91E63;
  padding: 1.5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 4px 8px 0 rgba(136, 14, 79, 0.25), 0 6px 20px rgba(136, 14, 79, 0.25);
  z-index: 10;
}

.issue-page-header-text {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.125em;
  margin: auto;
  margin-left: 0;
}

.issue-page-header-text:after {
  flex: 1;
}

.issue-page-header-link {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 1em;
  margin: auto;
  margin-right: 0;
  margin-left: 0;
}

.issue-page-filter-container {
  display: flex;
  padding: 1.5em;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0));
  z-index: -1;
  position: relative;
}

.issue-page-filter-container button {
  margin-right: 1em;
  font-size: 0.825em;
  background: none;
  font-family: inherit;
  border: none;
  display: inline-block;
}
.issue-page-filter-container button:hover {
  color: #880E4F;
  cursor: pointer;
}

#exit {
  margin-left: auto;
  margin-right: 0;
}
.close-icon {
  height: 1.25em;
  opacity: 0.25;
}

.issue-page-filter-selected {
  color: #E91E63;
  font-weight: normal;
}

.issue-page-filter-unselected {
  color: #607D8B;
  font-weight: lighter;
}

.issues-container {
  margin: 0em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 0em;
  position: relative;
  z-index: -10;
}

.card-wrapper {
  padding: 1em;
  display: flex;
  flex-direction: column;
  height: 15em;
}

.card-title {
  padding: inherit;
  height: fit-content;
  color: #FFFFFF;
  background-color: #3F51B5;
  font-size: 1.125em;
  font-weight: normal;
  line-height:1.25em;
  display:flex;
  flex-direction: row;
}

.card-title-text {
  flex: 1;
  margin:auto;
}

.svg-wrapper svg path{
  fill: #CFD8DC;
}

.icon {
  height: 1em;
}

.issue-icon {
  margin-right: 0;
  margin-left: 1em;
}

.card-details {
  font-size: 0.75em;
  background-color: #FFFFFF;
  padding: inherit;
  box-shadow: 0 1em 3em 0 rgba(69, 90, 100, 0.25), 0 1em 3em rgba(69, 90, 100, 0.25);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.card-body-text {
  color: #607D8B;
  line-height: 1.5em;
  font-weight: normal;
  font-size: inherit;
  flex: 1;
  overflow: hidden;
}

.card-body-text-empty {
  color: #CFD8DC;
}



.issue-labels-container {
  margin-top: 1em;;
}

.issue-label-wrapper {
  display: inline-flex;
  height: 1.5em;
  margin-right: 0.5em;
}
.issue-label-hole {
  position:relative;
  width:1.25em; 
  height:100%;
  overflow:hidden;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  margin-right: 0;
}
.issue-label-hole:after{
  content: '';
  position: absolute;
  /* top: 1em; */
  transform: translate(150%,150%);
  /* left: 1em; */
  border-radius: 50%;
  width: 0.375em;
  height: 0.375em;
  box-shadow: 0px 0px 0px 2000px #E91E63;
}

.issue-label {
  margin-left: 0;
  padding-right: 0.5em;
  background-color: #E91E63;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;  
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 0.875em;
  line-height: 1.825em;
}