
.repo-search-page-container {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #E91E63;
  color: #FFFFFF;
  display: flex;
  align-items: center; 
  
}
.repo-search-page-content {
  margin: auto;
}
.repo-search-bar {
  padding: 0.5em;
  height: 2em;
  background-color: #FFFFFF;
  display: flex;
  align-items: center; 
  margin: auto;
}
.repo-search-bar input{
  border: none;
  font-family: inherit;
  font-size: 1.125em;
  margin: auto;
  margin-left: 0.5em;
  flex-basis: 80%;
}
.search-icon {
  height: 1.25em;
  flex-basis: 1.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  fill: #CFD8DC;
}

.issues-container {
  --auto-grid-min-size: 16rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
  grid-gap: 1rem;
}

.issue-wrapper {
  padding: 5rem 1rem;
  font-size: 1.2rem;
  background: #eb4d4b;
  color: #ffffff;
}
.issue-title {
  color: bisque;
}

.issue-details {
  color: #000000;

}